.theme-light h1 { color: #175f81 !important; }

#part0 {
	border-color: #175f81 !important;
}

h2, 
ul.og-csrd-toc li.og-csrd-toc-part0 span a, 
.og-csrd-tabbed-item {
	background-color: #175f81 !important;
}

.theme-light ul.og-csrd-toc li.og-csrd-toc-part0 ul li a {
	color: #175f81 !important;
	border-color: #175f81 !important;
}
.theme-dark ul.og-csrd-toc li.og-csrd-toc-part0 ul li a {
	color: #86b4ca !important;
	border-color: #86b4ca !important;
}

.theme-light h3, 
.theme-light h4, 
.theme-light h5, 
.theme-light h6, 
.theme-light .og-csrd-sidebar, 
.theme-light .og-csrd-legend, 
.theme-light .og-csrd-border-line {
	color: #175f81 !important;
	border-color: #175f81 !important;
}
.theme-dark h3, 
.theme-dark h4, 
.theme-dark h5, 
.theme-dark h6, 
.theme-dark .og-csrd-sidebar, 
.theme-dark .og-csrd-legend, 
.theme-dark .og-csrd-border-line {
	color: #86b4ca !important;
	border-color: #86b4ca !important;
}

h4 { border-bottom: 0.25rem solid; }
.theme-light h4 { border-color: #175f81 !important; }
.theme-dark h4 { border-color: #86b4ca !important; }

.alert, 
 .og-csrd-sidebar, 
 .og-csrd-legend { 
	border-color: #175f81 !important; 
}

.theme-light div.og-csrd-sidebar { 
	background-color: #f2fbff !important; 
}

.theme-light div.alert { 
	background-image: linear-gradient(180deg, #f2fbff, #ffffff) !important; 
}