/* headers */
@font-face {
    font-family: BenchNine;
    src:url('../fonts/BenchNine-Regular.ttf') format(truetype);
}
/* dividers */
@font-face {
    font-family: 'Lexend Zetta';
    src:url('../fonts/LexendZetta-VariableFont_wght.ttf') format(truetype);
}
/* editor's notes */
@font-face {
    font-family: 'Walter Turncoat';
    src:url('../fonts/WalterTurncoat-Regular.ttf') format(truetype);
}
/* anchor link positioning for alternate header styles */
h5.og-csrd-technologies a.og-csrd-header-anchor {
	margin-top: 1.25rem;
}
h5.og-csrd-header-h5-icon a.og-csrd-header-anchor {
	margin-top: 1rem;
}
/* header fonts */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: BenchNine, 'Arial Narrow', Arial, sans-serif; text-transform: uppercase;
}
/* page title font */
h1 { 
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
}
.theme-light h1 {
	color: #103f65;
}
/* header 2 divides the document parts */
h2 {
	font-size: 3rem; text-align: center; font-weight: 600;
	font-weight: 600;
	text-align: center;
	padding: 0.5rem 0.25rem 0.1rem 0.25rem;
	margin: 0.5rem -1rem 0.5rem 0;
	border-radius: 1rem 0 0 1rem;
}
/* header 3 divides the document chapters */
h3 { 
	font-size: 3rem; 
	font-weight: 600;
	text-align: center; 
}
/* large section within a chapter */
h4 { 
	font-size: 2.5rem; 
	font-weight: 400;
}
/* medium section within a chapter */
h5 { 
	font-size: 2.25rem;
	font-weight: 400;
}
/* small header within a chapter */
h6 { 
	font-size: 2rem;
	font-weight: 400;
}
/* alternate header styles */
/* chapter numbers */
.og-chap { 
	font-family: 'Lexend Zetta', 'Arial Narrow', Arial, sans-serif;
	font-size: 40%; 
	display: block;
	text-transform: none;
	font-weight: 400;
	font-variant: small-caps;
	letter-spacing: 0.1rem;
}
/* table of contents */
ul.og-toc {
	font-family: BenchNine, 'Arial Narrow', Arial, sans-serif;
	font-size: 2.2rem;
	font-weight: 300;
	list-style-type: none;
}
.og-ed {
	border-top: 0.25rem solid;
	border-bottom: 0.25rem solid;
	border-left: 0;
	border-right: 0;
	font-family: 'Walter Turncoat', Arial, sans-serif;
	font-size: 1.1rem;
}
.theme-light .og-ed {
	border-color: #b35c2f !important;
	color: #b35c2f !important;
}
.theme-light .og-ed p strong {
	color: #103f65 !important;
}
.theme-dark .og-ed {
	border-color: #b35c2f !important;
	color: #cb966c !important;
}
.theme-dark .og-ed p strong {
	color: #b35c2f !important;
}
/* table of contents */
.theme-light ul.og-toc li.og-toc-part0 ul li a {
	color: #103f65 !important;
	border-color: #103f65;
}
.theme-dark ul.og-toc li.og-toc-part0 ul li a {
	color: #b7d3ea !important;
	border-color: #b7d3ea;
}
.theme-light ul.og-toc li.og-toc-part1 ul li a {
	color: #1b6c6e !important;
	border-color: #1b6c6e;
}
.theme-dark ul.og-toc li.og-toc-part1 ul li a {
	color: #b5eced !important;
	border-color: #b5eced;
}
.theme-light ul.og-toc li.og-toc-part2 ul li a {
	color: #4a1874 !important;
	border-color: #4a1874;
}
.theme-dark ul.og-toc li.og-toc-part2 ul li a {
	color: #c9baeb !important;
	border-color: #c9baeb;
}
.theme-light ul.og-toc li.og-toc-part3 ul li a {
	color: #834242 !important;
	border-color: #834242;
}
.theme-dark ul.og-toc li.og-toc-part3 ul li a {
	color: #e8baba !important;
	border-color: #e8baba;
}
/* part 0 theme */
.theme-light #part0 h3, 
.theme-light #part0 h4, 
.theme-light #part0 h5, 
.theme-light #part0 h6, 
.theme-light #part0 .og-sidebar, 
.theme-light ul.og-toc li.og-toc-part0 ul li a, 
.theme-light #part0 .og-legend, 
.theme-light #part0 .og-border {
	color: #103f65;
	border-color: #103f65;
}
.theme-dark #part0 h3, 
.theme-dark #part0 h4, 
.theme-dark #part0 h5, 
.theme-dark #part0 h6, 
.theme-dark #part0 .og-sidebar, 
.theme-dark ul.og-toc li.og-toc-part0 ul li a, 
.theme-dark #part0 .og-legend, 
.theme-dark #part0 .og-border {
	color: #b7d3ea;
	border-color: #b7d3ea;
}
#part0 h4, 
#part0, 
#part0 .alert, 
#part0 .og-sidebar, 
#part0 .og-legend {
	border-color: #103f65;
}
.theme-light #part0 div.og-sidebar { background-color: #f2fbff; }
.theme-light #part0 div.alert { background-image: linear-gradient(180deg, #f2fbff, #ffffff); }
.theme-light #part0 .og-border {
	color: #103f65;
	border-color: #103f65;
}
#part0 h2, ul.og-toc li.og-toc-part0 span a, #part0 .og-tab {
	background-color: #103f65;
}
/* part 1 theme */
.theme-light #part1 h3, 
.theme-light #part1 h4, 
.theme-light #part1 h5, 
.theme-light #part1 h6, 
.theme-light #part1 .og-sidebar, 
.theme-light #part1 .og-legend, 
.theme-light #part1 .og-border {
	color: #1b6c6e;
	border-color: #1b6c6e;
}
.theme-dark #part1 h3, 
.theme-dark #part1 h4, 
.theme-dark #part1 h5, 
.theme-dark #part1 h6, 
.theme-dark #part1 .og-sidebar, 
.theme-dark #part1 .og-legend, 
.theme-dark #part1 .og-border {
	color: #b5eced;
	border-color: #b5eced;
}
#part1 h4, 
#part1, 
#part1 .alert, 
#part1 .og-sidebar, 
#part1 .og-legend {
	border-color: #1b6c6e;
}
.theme-light #part1 div.og-sidebar { background-color: #f2ffff; }
.theme-light #part1 div.alert { background-image: linear-gradient(180deg, #f2ffff, #ffffff); }
#part1 h2, ul.og-toc li.og-toc-part1 span a, #part1 .og-tab {
	background-color: #1b6c6e;
}
/* part 2 theme */
.theme-light #part2 h3, 
.theme-light #part2 h4, 
.theme-light #part2 h5, 
.theme-light #part2 h6, 
.theme-light #part2 .og-sidebar, 
.theme-light #part2 .og-legend, 
.theme-light #part2 .og-border {
	color: #4a1874;
	border-color: #4a1874;
}
.theme-dark #part2 h3, 
.theme-dark #part2 h4, 
.theme-dark #part2 h5, 
.theme-dark #part2 h6, 
.theme-dark #part2 .og-sidebar, 
.theme-dark #part2 .og-legend, 
.theme-dark #part2 .og-border {
	color: #c9baeb;
	border-color: #c9baeb;
}
#part2 h4, 
#part2, 
#part2 .alert, 
#part2 .og-sidebar, 
#part2 .og-legend {
	border-color: #4a1874;
}
.theme-light #part2 div.og-sidebar { background-color: #f6f2ff; }
.theme-light #part2 div.alert { background-image: linear-gradient(180deg, #f6f2ff, #ffffff); }
#part2 h2, ul.og-toc li.og-toc-part2 span a, #part2 .og-tab {
	background-color: #4a1874;
}
/* part 3 theme */
.theme-light #part3 h3, 
.theme-light #part3 h4, 
.theme-light #part3 h5, 
.theme-light #part3 h6, 
.theme-light #part3 .og-sidebar, 
.theme-light ul.og-toc li.og-toc-part3 ul li a, 
.theme-light #part3 .og-legend, 
.theme-light #part3 .og-border {
	color: #834242;
	border-color: #834242;
}
.theme-dark #part3 h3, 
.theme-dark #part3 h4, 
.theme-dark #part3 h5, 
.theme-dark #part3 h6, 
.theme-dark #part3 .og-sidebar, 
.theme-dark ul.og-toc li.og-toc-part3 ul li a, 
.theme-dark #part3 .og-legend, 
.theme-dark #part3 .og-border {
	color: #e8baba;
	border-color: #e8baba;
}
#part3 h4, 
#part3, 
#part3 .alert, 
#part3 .og-sidebar, 
#part3 .og-legend {
	border-color: #834242;
}
.theme-light #part3 div.og-sidebar { background-color: #fff6f2; }
.theme-light #part3 div.alert { background-image: linear-gradient(180deg, #fff6f2, #ffffff); }
#part3 h2, ul.og-toc li.og-toc-part3 span a, #part3 .og-tab {
	background-color: #834242;
}

/* legends with iconography explanations */
.og-alien {
	background-image: url('../images/species-alien-background.webp') !important;
	background-position: center center;
	border-bottom: 0.25em solid #1b6c6e;
}
.og-legend ul.og-legend-list {
	font-family: 'Lexend Zetta', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.6rem;
	text-transform: uppercase;
}